//colors
$color-primary: #83c6f2;
$color-primary-light:#62bbf5;
$color-primary-dark:#2174FD;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-forest-light:#7ed56f;
$color-forest-dark: #28b485;

$color-grey-light-1: #fff;
$color-grey-light-2: #EEE;
$color-grey-dark: #777;
$color-grey-2: #999;
$color-grey-3: #333;

$color-white: #ffffff;
$color-black: #000000;

//font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

